:root{
    --dark-color : #25284A;
    --green-color: #33d1cc;
    --red-color:#ef5a6b;
    --yallow-color :#ffc400;
    --section-color :#eff7fa;
    --op-dark-color:#2e325c;
    --gray-color:#737aae;
    --violet-color:#6f32ff;
    --violet-color-op:#6f32ff52;
    --blue-color: #0da9e9;
    --dark-yellow-color :#F59401;
}
* {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  *:focus {
    outline: none;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--red-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
  }
  .page {
    height: 100vh;
    background-color: var(--dark-color);
  }

/* START SIDEBAR */
.sidebar {
  background-color: var(--op-dark-color);
  width: 250px;
  box-shadow: 0 0 10px black;
}
.sidebar a {
  font-size: 14px;
  color:  white;
}
.sidebar .logo-img {
  width: 90%;
  margin-bottom: 50px;
  filter: drop-shadow(0px 0px 10px rgb(220, 60, 139));

  /* border-bottom: solid 10px var(--dark-color); */
  /* border-radius:10px ; */
  /* filter: drop-shadow(0px 0px 10px rgb(133,61,232)); */
}

.sidebar ul li a svg {
  filter: drop-shadow(0px 0px 10px rgb(220, 60, 139));
}
.sidebar ul li a  {
  transition: 0.6s;
}
.sidebar ul li a span {
  margin-left: 20px;
  font-weight: bold;
}
.sidebar ul li a:hover,
  .sidebar ul li a.active{
    /* background-color: var(--violet-color-op) ; */
    box-shadow: inset 0px 5px 10px 0px rgba(133,61,232, 0.7);
    border-right: solid 8px var(--violet-color);
    
}
.sidebar ul li a:hover svg,
  .sidebar ul li a.active svg{
  color: rgb(220, 60, 139);
  }
@media (max-width:767px) {
  .sidebar {
    width: 90px;
  }
  .sidebar img {
    margin-bottom: 10px;
    width: 80px;
  }

.sidebar ul li a span {
  display: none;
}
.sidebar form span {
  display: none;
}
}
/* END SIDEBAR */

/* START HEADER  */

header {
  background-color: var(--op-dark-color);
  color: white;
}
header .search input {
  background-color: var(--op-dark-color);
  border: solid 2px var(--gray-color);
  width: 200px;
  font-weight: bold;
  color: var(--gray-color);
  transition:1s;
}
header .search::before{
  font-family: "Font Awesome 6 Free";
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  transform: translateY(50%);
  
  color: var(--gray-color);
}
header .search input:focus {
  width: 250px;
  color: white;
}
header .search input:focus::placeholder{
 opacity: 0;
}
header .icons img {
  width: 50px;
  border-radius: 50%;
  border :solid 3px var(--green-color);
}
.content {
  overflow: hidden;
  width: 100%;
}


.wrapper  {
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,400px);
  grid-template-areas: " box2 box2 box2 box2"
  "box1 box1 box3 box3";
}


@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,200px);
    grid-template-areas: "box2"
    "box1"
    "box3"
    "box4";
  }
  .wrapper .box2 p{
    font-size: 20px;
  }
  .wrapper .box2 h3{
    font-size: 40px;
  }
  .user-profile {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(2,300px)!important;
    grid-template-areas: "profile"
    "level"  !important;
  }
  
}

 .box2 .btn,
 .send-request-friend .btn {
  background-color:transparent;
  letter-spacing: 2px;
  padding: 10px 20px;
  font-family: "Titan One", sans-serif;
  color: var(--op-dark-color);
  box-shadow: inset 0px 5px 10px 0px black;
  transition: 1s;

 }
 .box2 .btn:hover ,
 .send-request-friend .btn:hover {
  background-color:var(--red-color);
  letter-spacing: 2px;
  padding: 10px 20px;
  font-family: "Titan One", sans-serif;
  color: var(--yallow-color);
  box-shadow: 0px 0px 10px black;
 }


.box1 p,
.box2 p{
color: var(--yallow-color);
font-family: "Bebas Neue", sans-serif;
font-style: normal;
font-size: 50px;
}
.box2 h3 {

    font-family: "Shojumaru", system-ui;
    font-weight: bold;
    font-style: normal;
    font-size: 70px;

}
.box2  {
  overflow: hidden;
  grid-area: box2;
  /* background-color: transparent; */
  background: linear-gradient(180deg, rgba(13,169,233,1) 0%, rgba(111,50,255,1) 95%);
  /* box-shadow: inset 0px -109px 98px 43px rgba(0,0,0,0.9); */
  background-size: cover;
  background-repeat: no-repeat;
  
}

.box2 img:last-child {
  animation: raj3o1 3s ;

}
.box2 img:first-child{
  animation: raj3o2 3s ;
}
@keyframes raj3o1 {

  0%{
    transform: translateX(100%);

  }
  100% {
    transform: translateX(0);

  }

}
@keyframes raj3o2 {

  0%{
    transform: translateX(-100%);

  }
  100% {
    transform: translateX(0);

  }

}

.box2 img,
.box1 img,
.box3 img{
  max-height: 100%;
  width: auto;
}
.box1 {
  grid-area: box1;
  box-shadow: 0 0 10px black;
  background: linear-gradient(180deg, rgba(218,60,135,0.3477766106442577) 0%, rgba(0,0,0,0) 50%, rgba(130,57,45,0.3617822128851541) 100%);

}
.box3 {
  grid-area: box3;
  box-shadow: 0 0 10px black;
  /* background: linear-gradient(180deg, rgba(218,60,135,0.3477766106442577) 0%, rgba(0,0,0,0) 50%, rgba(130,57,45,0.3617822128851541) 100%); */
 box-shadow: inset 0px -109px 98px 43px #803ce544 ,inset 0px -109px 98px 43px var(--violet-color-op);


}
.box4 {
  grid-area: box4;
}
/* END HEADER */



/* THIS FOR PROFILE -------------------------------------------------------------------------------------------> */


.pr-welcome p{
  color: white;
  font-family: "Jaro", system-ui;
  font-weight: bold;
  font-size: 40px;
  animation: raj3o2 1s ;
}

.pr-welcome  .btn-settings svg  {
  filter: drop-shadow(0px 0px 10px rgb(220, 60, 139));
  font-size: 30px;
  color: #dc3c8b;
  
}
.user-profile {
  box-shadow: inset 0px 5px 10px 0px rgba(133,61,232, 0.7);
  box-shadow: inset 0px 5px 10px 0px rgba(220,60,139, 0.7);
  grid-template-rows: 400px  400px;
  grid-template-areas: "profile   level  level level";
  margin-top: 100px;
  background-image: url("/image/e.jpg");
  background-size: cover;

}
.avatar-profile {
  grid-area: profile;
  
}
.avatar-profile  img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 4px var( --dark-yellow-color);
  box-shadow: inset 0px 5px 10px 0px black;
  
}
.pr-name ,
.level-profile h4{
  color: white;
}
.pr-name {
  color: white;
  border-bottom: solid 2px black;
  width: 30%;
  font-size: 20px;
}
    .progress {
      background-color: rgba(0, 0, 0, 0.328);
      border: solid 1px rgba(0, 0, 0, 0.328);
    }
    .progress  span{
      background-image: url("/image/bg-y.png");
      background-size: contain;
    }
    .level-profile {
      grid-area: level;
    }
    .level-profile {
      height: 50%;
      padding: 20px;
      border-left: solid 4px  var(--dark-yellow-color);
      box-shadow: 0 0 10px black;
    }
    
    .pr-img svg {
      font-size: 30px;
      filter: drop-shadow(0px 0px 10px rgb(220, 60, 139));
      color: rgb(220, 60, 139);
      
      border-radius: 50%;
      padding: 7px ;
      border: solid 2px black;
    }
    .pr-img svg:hover {
      font-size: 30px;
      filter: drop-shadow(0px 0px 10px rgb(93, 222, 57));
      color: rgb(93, 222, 57);
    }
    /* .bg-profile  {
      max-width: 100%;
      height: auto;
    } */

    .image-container {
      position: relative;
    }

    .image-container:hover::before {
    font-family: "Font Awesome 6 Free";
    content: "\f303";
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    filter: drop-shadow(0px 0px 10px rgb(220, 60, 139));
    color: rgb(220, 60, 139);
    z-index: 1000;
    border: solid 2px black;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--dark-color);
    }
    /* <-------------------------------------------------------------------------------THIS FOR PROFILE  */
    
    
    /* THIS FOR SETTINGS -------------------------------------------------------------------------------------------> */
    .settings-all {
      grid-template-columns: 1f;
      grid-template-rows: repeat(3,900px);
      grid-template-areas:  "box1"
      "box2";
    }
.settings-all .box1 { 
  box-shadow: inset 0px 5px 10px 0px rgba(133,61,232, 0.7);
  box-shadow: inset 0px 5px 10px 0px rgba(220,60,139, 0.7);
}
.box1 {
  flex-wrap: wrap;
  
}
.box1  .t-sett,
.send-request-friend  .t-sett {
  border-width: 3px;
  border-style: solid;
  border-image: 
  linear-gradient(
    to bottom, 
    var(--violet-color), 
    rgba(0, 0, 0, 0)
    ) 1 100%;
    padding: 10px;
  }
  .box1 svg ,
  .send-request-friend  .t-sett svg{
    font-size: 40px;
    filter: drop-shadow(0px 0px 10px rgb(220, 60, 139));
    color: rgb(220, 60, 139);
    
    
  }
  .box1 h1,
  .send-request-friend  .t-sett h1 {
    
    font-family: "Jaro", system-ui;
    font-weight: bold;
    font-style: normal;
    font-size: 70px;
    letter-spacing: 2px;
    color: var(--blue-color);
    opacity: 20%;
    text-shadow: 5px 5px 10px black;
    
  }
  .settings-all  form {
    flex-wrap: wrap;
  }
  
  
  .form-control-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
  }
  .settings-all form  [for="id_avatar"] {
    height: fit-content;
    padding: 10px;
    font-family: "Bebas Neue", system-ui;
    font-weight: bold;
    color: var(--dark-color);
    border-radius: 10px;
    font-size: 40px;
    position: relative;
    width: 50%;
    text-align: start;
    color: var(--yallow-color);
    margin-top: 20px;
    box-shadow: inset 0px 5px 10px 0px rgba(133,61,232, 0.7);
    
    
  }
  .settings-all form .form-control {
    background-color: transparent;
    width: 90%;
    border: none;
    box-shadow: inset 0px 5px 10px 0px rgba(133,61,232, 0.7);
    color: white;
    padding: 20px;
    
    
  }
  .settings-all form button {
    
    width: 150px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    font-family: "Bebas Neue", system-ui;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--violet-color);
    letter-spacing: 2px;
    text-align: start;
    
  }
  .settings-all form button:hover {
    color: var(--yallow-color);
  }
  .settings-all form button::before,
  .settings-all form  [for="id_avatar"]::before{
    
    font-family: "Font Awesome 6 Free";
    content: "\f0c7";
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    filter: drop-shadow(0px 0px 10px rgb(93, 222, 57));
    color: rgb(93, 222, 57);
  }
  
  .settings-all form  [for="id_avatar"]::before {
    content: "\f15b";
  }
  .settings-all form  [type="reset"]::before {
    content: "\f0e2";
  }
  
  .form-group {
    font-family: "Bebas Neue", system-ui;
    font-weight: bold;
    font-size: 40px;
    color: var(--yallow-color);
  }
  
  
  /* <-------------------------------------------------------------------------------THIS FOR SETTINGS  */



  /* THIS FOR SETTINGS -------------------------------------------------------------------------------------------> */


.send-request-friend {

  width: 100%;
  box-shadow: inset 0px 5px 10px 0px rgba(133,61,232, 0.7);

}

.send-request-friend ul {
  grid-template-columns: repeat(auto-fill,minmax(300px ,1fr));

  grid-gap: 10px; 
}

.send-request-friend ul li {
  box-shadow: inset 0px 5px 10px 0px rgba(46, 149, 218, 0.7);
  padding: 20px;
  height: 300px;
  margin: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.send-request-friend .btn {
 font-family: "Jaro", system-ui;
  color: var(--blue-color);
/* GA3 DAK CHI LACKHOR KAYN FO9 FI .BOX2 .BTN */
}
.box2 .btn:hover ,
.send-request-friend .btn:hover {
 font-family: "Jaro", system-ui;
 background-color: green;
}

.send-request-friend ul li img {
  max-height: 40%;
  width: auto;
  border-radius: 50%;
  
  box-shadow: 0 0 10px black;
  border: solid 10px var(--dark-color);
}
.send-request-friend ul li p {
  color: white;
 font-family: "Jaro", system-ui;
 font-weight: bold;
 font-size: 40px;


 border-width: 3px;
  border-style: solid;
  border-image: 
  linear-gradient(
    to bottom, 
    var(--violet-color), 
    rgba(0, 0, 0, 0)
    ) 1 100%;
    padding: 10px;

}
  /* <-------------------------------------------------------------------------------THIS FOR FRIENDS  */
  /* <-------------------------------------------------------------------------------THIS FOR requst-friend  */

  .message-request {

    width: 30%;
    padding: 30px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: inset 0px 5px 10px 0px rgba(133,61,232, 0.7)   ;
    font-family: "Jaro", system-ui;
    color: var(--blue-color);
    margin-left: 70%;

  }

  /* <-------------------------------------------------------------------------------THIS FOR request-friend  */
